* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #212121;
  color: white;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* Scrollbar */
@layer components {
  .floating-scrollbar {
    height: 80vh;
    padding: 0 0.4rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  /* Chrome, Brave, Safari */
  .floating-scrollbar::-webkit-scrollbar {
    width: 0.5em;
  }

  .floating-scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: gray;
  }

  /* Firefox */
  .floating-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .floating-scrollbar:hover {
    scrollbar-color: #0a4c95 #c2d2e4;
  }
}
